
<div class="header sticky-top">
    <div class="">
    <img src="../../../assets/maharaja.png" class="img-fluid" style="height: 50px;" alt="">   
    <button class="btn"  (click)="toggleNav()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="icons d-flex align-items-center">
        <i class="fas a fa-envelope mx-2"></i>
       <!-- Bell Icon with Count -->
<i (click)="openPopup()" class="fas fa-bell mx-2">
  <span *ngIf="unreadCount > 0" class="badge bg-danger">{{ unreadCount }}</span>
</i>

<!-- Modal -->
<div class="modal" tabindex="-1" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Notifications</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="closePopup()"></button>
      </div>
      <div class="container">
        <div class="row" *ngFor="let nn of notifys">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ nn.notification }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



        <div class="dropdown ml-3" style="color: var(--header-font-color);">
            <span  style="color: var(--header-font-color);"
                aria-haspopup="true" aria-expanded="false">
                Hi 👋, Main
            </span>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown" >
                <a class="dropdown-item" style="color: white;">
                    <i style="color: white;" class="fas fa-user mr-2"></i> Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logouts()" style="color: white;">
                    <i style="color: white;" class="fas fa-sign-out-alt mr-2"></i> Logout
                </a>
                <!-- <button (ckick)="handelclick()">button</button> -->
            </div>
        </div>
      
    </div>
</div>
                 <div #mySidebar class="sidebar">
                    <div *ngFor="let side of sideData">
                      <ng-container *ngIf="side.dropdown !== 0; else simpleButton">
                        <button *ngIf="side.visibility === 1  || side.position === 1"
                                class="accordion-button collapsed mt-4 mb-3" 
                                type="button"
                                data-bs-toggle="collapse" 
                                [attr.data-bs-target]="'#flush-collapse-' + side.id"
                                aria-expanded="false" 
                                [attr.aria-controls]="'flush-collapse-' + side.id" 
                                style="margin-left: 24px !important;color: var(--sidebar-font-color);">
                          
                          <i ngClass="{{side.icon}}"></i> 
                          <span style="margin-left:24px !important;">
                            {{ side.side_name }}
                          </span>

                          <i *ngIf="side.dropdown === 1" class="fas fa-chevron-down" style="margin-left: auto;"></i>
                        </button>
                    
                        <div [id]="'flush-collapse-' + side.id" 
                             class="accordion-collapse collapse" 
                             [attr.aria-labelledby]="'flush-heading-' + side.id" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <ul class="dropulli">
                              <li *ngFor="let submenu of getFilteredSubMenus(side.id)" style="list-style: none;">
                                <a [routerLink]="['/Admin', submenu.old_name]" style="color: var(--sidebar-font-color);background-color: var(--sidebar-color);"  class="dropdown-item sidebar-link mb-2">{{ submenu.name }}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </ng-container>
                    
                      <!-- Simple button without dropdown, shown when `dropdown` is 0 -->
                      <ng-template #simpleButton>
                        <button *ngIf="side.visibility === 1 || side.position === 1" 
                                class="btn  mt-2" 
                                type="button" [routerLink]="['/Admin', side.side_name_old]"
                                style="margin-left: 14px !important;color: var(--sidebar-font-color);">
                          <i ngClass="{{side.icon}}"></i> 
                          <span style="margin-left: 14px !important;" >
                            {{ side.side_name }}
                          </span>
                        </button>
                      </ng-template>
                    </div>
                    
    

    <div class="accordion-item">
      <h2 class="accordion-header" id="">
        <button class="accordion-button collapsed mt-3 mb-3" type="button" 
          aria-controls="flush-collapsePayroll" style="margin-left: 14px !important; ">
          <i class="fa-solid fa-right-from-bracket"></i> <span style="margin-left: 15px !important;">
            <a href="./Expenses.html" class="dropdown-item sidebar-link "></a>Logout</span>
        </button>
      </h2>
      </div>
        
      </div>
    
    <div #content class="content" >
                 
        <router-outlet></router-outlet>

  </div>

    
