.dropdown-lang {
    position: relative;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 2;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    background-color: #000;
    color: white !important;
  }
  

/* Sidebar styles */
.sidebar {
  width: 250px; 
  height: 100%;
  position: fixed;
  left: 0;
  top: 70px;
  background-color: var(--sidebar-color);
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.sidebar.closed {
  width: 0px; 
}

/* Content container */
.content {
  margin-left: 250px;
  transition: all 0.3s ease;
}

.sidebar.closed + .content {
  margin-left: 0px; 
}


@media (max-width: 768px) {
  .sidebar {
    width: 0px; 
  }

  .sidebar.open {
    width: 250px;
  }

  .content {
    margin-left: 0px;
  }

  .sidebar.open + .content {
    margin-left: 250px;
  }
   /* .sidebar.open~.content {
        margin-left: 0px;
    } */
}

  

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--sidebar-color); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sidebar-color); 
}





.header {
    background-color: var(--header-color);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    padding: 10px 20px;
    /* color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
}



.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    background: #4e73df;
    color: white;
    font-weight: bold;
}

.card-body i {
    color: white;
    margin-bottom: 10px;
}

.icons i {
    color: var(--header-font-color);;
    font-size: 1.2em;
    cursor: pointer;
}
.icons i:hover {
    color: #34395e;
}

.icon-box {
    background-color: #34395e;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    min-width: 160px;
    font-size: 0.9rem;
}
  .notification { 
    padding: 10px; 
    background: #f1f1f1; 
    margin: 5px; 
    border-radius: 4px;
  }


  .notification-list {
    padding: 10px;
  }
  
  .notification-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  
  .notification-item.unread {
    font-weight: bold;
  }
  
  .notification-item:hover {
    background-color: #f5f5f5;
  }
  