<div class="col-lg-12 col-md-12 d-flex  gap-2  mt-2 "
  style="background-color: #F7F7F7; white-space: wrap ; height: 70px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border-radius: 10px;">
  <h5 class="fs-4 mt-3 text-center p-2" style="color: #777;">Client List</h5> <span><button type="button"
      (click)="onclick()" class="btn text-white mt-3" style="background-color: #868e92;"><span><i
          class="fa-sharp fa-solid fa-plus"></i></span> Add</button></span>
</div>
<div class="mt-2" style="overflow-x: scroll; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 10px;">
  <table class="table table-bordered table-hover table-striped ">
    <thead class="" style="font-size: 13px; text-wrap: nowrap; ">
      <tr>
        <th>Id</th>
        <th>Client Name</th>
        <th>Active</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody style="text-wrap: nowrap;" class="">
      <tr style="background-color: #f9f9f9;" *ngFor="let a of getusersData;   let i = index">
        <td>{{a.id }}</td>
        <td>
          <div class="d-flex " style="justify-content: center;">
            <img [src]="a.profile" style="height: 50px; width: 50px;" class="img-fluid" alt="">
            <div>
              <span (click)="ById(a.id)"> <a class="pro" (click)="userprofile()"  >{{a.first_name}} {{a.last_name}} </a>  <br> {{a.email}}</span> 
              <i class="fa fa-edit" style="cursor: pointer; color: rgb(64, 64, 250);"
                (click)="ById(a.id)" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog  modal-lg">
                  <div class="modal-content text-start">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Client</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form #userForm="ngForm" (ngSubmit)="updateusers()">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="first_name"  [(ngModel)]="userByIdData.first_name"
                              name="first_name" required />
                          </div>
                          <div class="form-group col-md-6">
                            <label>Last Name</label>
                            <input type="text" class="form-control" id="last_name"  [(ngModel)]="userByIdData.last_name"
                              name="last_name" required />
                          </div>
                        </div>
    
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>Email</label>
                            <input type="text" class="form-control" id="email"  [(ngModel)]="userByIdData.email"
                              name="email" required />
                          </div>
                          <!-- <div class="form-group col-md-6">
                            <label>Password</label>
                            <input type="text" class="form-control" id="password"  [(ngModel)]="userByIdData.password"
                              name="password" required />
    
                          </div> -->
                        </div>
    
    
    
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>Date of Birth</label>
                            <input type="text" class="form-control" id="date_of_birth"  [(ngModel)]="userByIdData.date_of_birth"
                              name="date_of_birth" required />
                          </div>
                          <div class="form-group col-md-6">
                            <label>Date of Joining</label>
                            <input type="text" class="form-control" id="date_of_joining"  [(ngModel)]="userByIdData.date_of_joining"
                              name="date_of_joining" required />
                          </div>
                        </div>
    
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>Phone</label>
                            <input type="text" class="form-control" id="phone"  [(ngModel)]="userByIdData.phone"
                              name="phone" required />
                          </div>
                          <div class="form-group col-md-6">
                            <label>Designation</label>
                            <input type="text" class="form-control" id="designation"  [(ngModel)]="userByIdData.designation"
                              name="designation" required />
                          </div>
                        </div>
                        <button type="submit"  class="btn btn-success m-1">Save</button>
                        <button type="button" class="btn btn-danger" type="button"  data-bs-dismiss="modal" aria-label="Close">cancel</button>
    
    
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </td>
        <td>
          <button class="btn btn-sm" 
                  [ngClass]="a.active ? 'btn-success' : 'btn-danger'" 
                  style="border-radius: 20px;" 
                  (click)="toggleVerified(a)">
            {{ a.active ? 'Active' : 'Inactive' }}
          </button>
        </td>
        <td><button class="btn btn-sm text-light"  style="border-radius: 20px; background-color: #34395e;">{{a.group_name }}</button></td>
        <div class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="profileDropdown" style="justify-content: center;">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </span>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
            <a class="dropdown-item">
              <i style="color: #34395e;" class="fas fa-cogs mr-2"></i> Permission
            </a>
            <a class="dropdown-item">
              <i style="color: #34395e;" class="fas fa-user-shield mr-2"></i> Make Admin
            </a>
            <a class="dropdown-item">
              <i style="color: #34395e;" class="fas fa-user-tie mr-2"></i> Make Client
            </a>
            <a class="dropdown-item">
              <i style="color: #34395e;" class="fas fa-users mr-2"></i> Make Member
            </a>
            <a class="dropdown-item">
              <i style="color: #34395e;" class="fas fa-user-cog mr-2"></i> Make Manager
            </a>
            <a class="dropdown-item">
              <i style="color: #34395e;" class="fas fa-trash-alt mr-2"></i> Delete Workspace
            </a>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>