<div class="row">
  <div class="col-md-12">







    <table id="example" class="display" style="width:100%;  text-align: center;">
      <thead style="text-align: center;">
        <tr>

          <th>ID</th>
          <th>User Name </th>
          <th>Team Member </th>
          <th>Manager(₹)</th>
          <th>Group </th>
          <th>Target </th>
          <th>DID </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Gautam</td>
          <td>Gautam</td>
          <td>100</td>
          <td>one</td>
          <td>5times</td>
          <td>null</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Naman</td>
          <td>Gautam</td>
          <td>120</td>
          <td>one</td>
          <td>5times</td>
          <td>null</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Rehan</td>
          <td>Gautam</td>
          <td>66</td>
          <td>one</td>
          <td>5times</td>
          <td>null</td>
        </tr>  <tr>
          <td>3</td>
          <td>Gautam</td>
          <td>Gautam</td>
          <td>150</td>
          <td>one</td>
          <td>5times</td>
          <td>null</td>
        </tr>  <tr>
          <td>4</td>
          <td>Arjun</td>
          <td>Gautam</td>
          <td>66</td>
          <td>one</td>
          <td>5times</td>
          <td>null</td>
        </tr>  <tr>
          <td>5</td>
          <td>Gautam</td>
          <td>Gautam</td>
          <td>66</td>
          <td>one</td>
          <td>5times</td>
          <td>null</td>
        </tr>  
        <tr>
          <td>6</td>
          <td>Mayank</td>
          <td>Gautam</td>
          <td>44</td>
          <td>one</td>
          <td>5times</td>
          <td>null</td>
        </tr>
       <tr>
        <td>7</td>
        <td>Mayank</td>
        <td>Gautam</td>
        <td>44</td>
        <td>one</td>
        <td>5times</td>
        <td>null</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Chunchun</td>
        <td>Gautam</td>
        <td>44</td>
        <td>one</td>
        <td>5times</td>
        <td>null</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Mayank</td>
        <td>Gautam</td>
        <td>44</td>
        <td>one</td>
        <td>5times</td>
        <td>null</td>
      </tr>    <tr>
        <td>10</td>
        <td>Hritik</td>
        <td>Gautam</td>
        <td>44</td>
        <td>one</td>
        <td>5times</td>
        <td>null</td>
      </tr>    <tr>
        <td>11</td>
        <td>Gautam</td>
        <td>Gautam</td>
        <td>44</td>
        <td>one</td>
        <td>5times</td>
        <td>null</td>
      </tr>    <tr>
        <td>12</td>
        <td>Mitesh</td>
        <td>Gautam</td>
        <td>44</td>
        <td>one</td>
        <td>5times</td>
        <td>null</td>
      </tr>   <tr>
        <td>13</td>
        <td>Mayank</td>
        <td>Gautam</td>
        <td>44</td>
        <td>one</td>
        <td>5times</td>
        <td>null</td>
      </tr>   <tr>
        <td>14</td>
        <td>Hritik</td>
        <td>Gautam</td>
        <td>44</td>
        <td>one</td>
        <td>5times</td>
        <td>null</td>
      </tr> 
       
      </tbody>
    </table>

  </div>
</div>