
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-12 mt-3">
              <div class="form-inline mb-3" style="display: flex;">
                <label for="search" class="me-2">Search:</label>
                <input type="text"  class="form-control mr-2  form-control-sm"
                  id="search" placeholder="Search">
                <button type="button" class="btn btn-filter"><i class="fas fa-filter"></i></button>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-inline mb-3 float-md-end mt-2" style="display: flex; ">
                <label for="entries" class="me-2">Show</label>
                <select class="form-select" aria-label="Default select example" style="height: 32px;">
                  <option selected>10</option>
                  <option value="1">25</option>
                  <option value="2">50</option>
                  <option value="3">100</option>
                </select>
                <label for="entries fw-bold" class="mx-2">entries</label>
              </div>
            </div>
          </div>
          <div class="" style="overflow-x: scroll;">
            <table class="table table-bordered table-hover table-striped ">
              <thead class="" style="font-size: 13px; text-wrap: nowrap; ">
                <tr> 
                  <th style="color: #4F99C6;">Select</th>
                  <th style="color: #4F99C6;">Last Name</th>
                  <th style="color: #4F99C6;">First Name</th>
                  <th style="color: #4F99C6;">Middle Name</th>
                  <th style="color: #4F99C6;">Date of Birth</th>
                </tr>
              </thead>
              <tbody style="text-wrap: nowrap;" class="">
                <tr style="background-color: #f9f9f9; ">
                  <td>01</td>
                  <td>Rajput</td>
                  <td>Jay</td>
                  <td>Singh</td>
                  <td>03/09/1992</td>
                </tr>
              </tbody>
            </table>
          </div>
  </div>
</div>