 <div class="row mt-4">
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body d-flex align-items-center">
                        <div class="icon-box mr-3">
                            <i class="fas fa-briefcase fa-lg "></i>
                        </div>
                        <div>
                            <h6 class="mb-1" style="color: #98a6ad;">Total Rooms</h6>
                            <p class="lead mb-0">{{allRooms}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body d-flex align-items-center">
                        <div class="icon-box mr-3">
                            <i class="fas fa-tasks fa-lg "></i>
                        </div>
                        <div>
                            <h6 class="mb-1" style="color: #98a6ad;">Total Tasks</h6>
                            <p class="lead mb-0">0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body d-flex align-items-center">
                        <div class="icon-box mr-3">
                            <i class="fas fa-users fa-lg "></i>
                        </div>
                        <div>
                            <h6 class="mb-1" style="color: #98a6ad;">Users</h6>
                            <p class="lead mb-0">{{getusersData}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body d-flex align-items-center">
                        <div class="icon-box mr-3">
                            <i class="fas fa-user-circle fa-lg "></i>
                        </div>
                        <div>
                            <h6 class="mb-1" style="color: #98a6ad;">Clients</h6>
                            <p class="lead mb-0">{{clients}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">Projects Status</div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">Task Overview</div>
                    <div class="card-body">
                    </div>
                </div>
            </div>

        </div>

      