

.card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-left: 4px solid var(--sidebar-color);
    transition: transform 0.2s;
    border-radius: 10px;
}

.xl .card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;
    transition: transform 0.2s;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: var(--sidebar-color);
    color: white;
    font-weight: bold;
}

.card-body i {
    color: white;
    /* margin-bottom: 10px; */
}

.icons i {
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.icons i:hover {
    color: #34395e;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}

.icon-box {
    background-color: var(--sidebar-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}


.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    min-width: 150px;
    font-size: 0.9rem;
}
