


<div class="container" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 10px;">
    <div class="row">
        <div class="col-12" >
            <h2 class="text-center m-4">User Detail</h2>
            <hr>
        </div>
    </div>
 
 
  

    <div class="row">
        <div class="col-md-2">
            <img src="../assets/profilephoto.jpg" alt="User Avatar" class="rounded-circle img-fluid">
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="row mt-4">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Project</h5>
                                <p class="card-text">1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Invoice</h5>
                                <p class="card-text">0</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Tasks</h5>
                                <p class="card-text">0</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Tasks</h5>
                                <p class="card-text">0</p>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
    <hr>

    <div class="row mt-3" *ngFor="let a of allData" >
        <div class="col-md-6">


          <p><strong>Name:</strong> {{a.first_name}}</p>
          <p><strong>User Type:</strong> {{a.group_name}}</p>
          <p><strong>Contact:</strong>{{a.email}}</p> 
          <p><strong>Status:</strong> <span  style="background-color: #218838; color: white; border-radius: 10px;  padding: 3px;">{{a.active}}</span></p> 
        </div>
        <div class="col-md-6">
          <p><strong>Date of Birth:</strong>{{a.date_of_birth | date:'dd-MM-yyyy'}}</p>
          <p><strong>Date of Joining:</strong> {{a.date_of_joining | date:'dd-MM-yyyy'}}</p>
          <p><strong>Designation:</strong> {{a.designation}}</p>
        </div>
      </div>

      

      <div
      cdkDropList
      (cdkDropListDropped)="onFileDropped($event)"
      class="drag-drop-zone"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
    >
      <p>Drag and drop files here</p>
    </div>
    <div *ngIf="files.length > 0">
      <h3>Uploaded Files:</h3>
      <ul>
        <li *ngFor="let file of files">{{ file.name }}</li>
      </ul>
    </div>
    




      <div class="row mt-3">

        <div class="col-md-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist"> 
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">Project</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Invoice</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Notes</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Vouchers</button> <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Task</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ad eius veritatis consequuntur iste suscipit id. Qui eos illo odio esse dolore. Maxime sit laudantium alias ad nobis blanditiis totam nesciunt maiores quo repellat quos rem, porro ullam iusto odit deserunt, expedita tempora perspiciatis dignissimos suscipit repellendus magnam odio? Possimus.
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
            </div>
        </div>
    </div>
</div> 



