:root {
    --header-color: #C4DFE6;
    /* --header-color: linear-gradient(red, yellow); */
    --sidebar-color: #66A5AD;
    --header-font-color: #ffffff;
    --sidebar-font-color: #ffffff;
  }
  
  .header {
    background-color: var(--header-color);
    color: var(--header-font-color);
  }
  
  .sidebar {
    background-color: var(--sidebar-color);
    color: var(--sidebar-font-color);
  }
  