:root {
    --header-color: #ff416c;
    --sidebar-color: #ff4b2b;
    --header-font-color: #ffffff;
    --sidebar-font-color: #ffffff;
  }
  
  .header {
    background-color: var(--header-color);
    color: var(--header-font-color);
  }
  
  .sidebar {
    background-color: var(--sidebar-color);
    color: var(--sidebar-font-color);
  }
  